.schedule{
    padding: 1rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin: 1rem;
  }

  .mb-4{
  margin-bottom: 1.5rem !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
  }
  .pb-3,
.py-3 {
  padding: 1rem 0 !important;
}
.m-0 {
    margin: 0 !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .text-primary {
    color: #4e73df !important;
  }
  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
    margin-bottom: 1rem;
    color: #858796;
  }
  .table td,
  .table th {
    padding: 0.75rem;
    background-color: #EDEEF2;
    border-radius: 0.6rem;
  }
  .table thead th {
    vertical-align: bottom;
    background-color: #fff;

  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
    border: 0;
  }

  .timeLine-btn{
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    color: #8C94A1;
    cursor: pointer;
    border-radius: 6px;
    background-color: #EDEEF2;
    border: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #f8f8f8;
    }
    margin: 1rem;
  }
  .timeLine-card{
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        color: #858796;
        font-weight: 600;
      }
  }
  .interval-text{
    border-radius: 14px;
    background-color: #F5F6F7;
    padding: 0 5px;
    color: #8C94A1;
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    letter-spacing: -0.19px;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 26px;
    margin: 7px;
  }
  .interval-cell{
    border-radius: 1rem;
  }
  .employee-text{
    background-color: #fff !important;
    font-weight: 700;
  }

  .tmp {
    z-index: 1;
    opacity: 1;
  }

  .tmp2 {
    z-index: 2;
    opacity: 0;
  }

  .tmp4 {
    z-index: 500;
  }

  .tmp5 {
    pointer-events: all; 
  }

.tmp4 ._3kyIQ {
  opacity: 0;
}

.tmp6 ._3kyIQ {
  pointer-events: none;
}